#logo {
    height: 10%;
}

#myCarousel {
  width: 40%; /* Adjust the width as necessary */
  margin: auto; /* Center the carousel */
}
#myCarousel .carousel-inner .item img {
  width: 90%; /* Make images responsive to the container */
  height: 75%; /* Maintain aspect ratio */
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active {
  background-color: black;
} 

.navbar-inverse{
  background-color: orange;
  border: none;
}

.navbar-inverse .navbar-nav>li>a{
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: black;
  background-color: green;
}

.item-border {
  width: 87%;
  border: 15px solid orange;
  padding: 50px;
  margin: 20px;
}

.item {
  background-color: whitesmoke;
}

.carousel-caption{
  position:static;
  color: black;
}

.test-img{
  width: 100%;
}
@media screen and (min-width:500px){
    li a{
        font-size:1.5em;
    }
}