#logo {
    height: 10%;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active {
  background-color: black;
} 

.navbar-inverse{
  background-color: orange;
  border: none;
}

.navbar-inverse .navbar-nav>li>a{
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: black;
  background-color: green;
}

.item-border {
  width: 87%;
  border: 15px solid orange;
  padding: 50px;
  margin: 20px;
}

.item {
  background-color: whitesmoke;
}

.carousel-caption{
  position:static;
  color: black;
}

.test-img{
  width: 100%;
}
@media screen and (min-width:500px){
    li a{
        font-size:1.5em;
    }
}